# DICATAT.IN - ML WORKER ENVIRONMENT

# 1. SERVER & SECURITY
ENVIRONMENT=development
CORS_ORIGINS=http://localhost:5173,https://dicatat.in

# 2. VISION API (OpenAI - Ekstraksi Teks/OCR)
OPENAI_API_KEY=sk-proj-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
VISION_MODEL_NAME=gpt-5.4-nano

# 3. NLP API (Biznet AI / OpenAI - Restrukturisasi & Flashcard)
LLM_API_KEY=sk-proj-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
LLM_MODEL_NAME=gpt-4.1
# LLM_BASE_URL=https://api.biznet.ai/v1  # (Opsional) Sesuaikan jika menggunakan custom endpoint proxy / OpenRouter