# DICATAT.IN - ML WORKER ENVIRONMENT

# 1. SERVER & SECURITY
ENVIRONMENT=development
CORS_ORIGINS=http://localhost:5173,https://dicatat.in

# 2. VISION API (OpenAI - Ekstraksi Teks/OCR)
OPENAI_API_KEY=sk-proj-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
VISION_MODEL_NAME=gpt-5.4-nano

# 3. NLP API (Biznet AI / OpenAI - Restrukturisasi & Flashcard)
LLM_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
LLM_MODEL_NAME=Qwen/Qwen3-Coder-480B-A35B-Instruct
LLM_BASE_URL=https://api.biznetgio.ai/v1